*,
*::before,
*::after {
	padding: 0;
	margin: 0;
}

body {
	min-width: 100%;
	min-height: 100%;
	background-color: $g-bg-body;
	font-size: 62.5%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0;
	padding: 0;
}
