@import './config';

header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
}

.tag {
	// background: $white;
	position: absolute;
	top: -20px;
	width: 100px;
	height: 80px;
	display: flex;
	align-items: center;
	border: 1px solid $teal;
	@include box-shadow;
	transform: rotate(-30deg);
	padding: 25px 20px;

	&::before {
		content: '';
		position: absolute;
		top: -10px;
		left: -10px;
		width: 100%;
		height: 100%;
		// background: $white;
		border: 1px solid $orange;
		z-index: -2;
	}

	&::after {
		content: '';
		position: absolute;
		top: -20px;
		left: -20px;
		width: 100%;
		height: 100%;
		// background: $white;
		border: 1px solid $coral;
		z-index: -2;
	}

	a {
		@include displayBlack;
		font-size: 2rem;
		line-height: 1;
		text-decoration: none;
		color: $dkgray;
		mix-blend-mode: difference;

		span {
			position: absolute;
			top: -2px;
			display: block;
			@include displayLight;
			font-size: 2rem;
			color: $white;
			z-index: -1;
		}
	}

	&:hover {
		a {
			color: $black;

			& span {
				color: $black;
			}
		}
	}
}

@media screen and (min-width: 768px) {
	header {
		display: flex;
		width: 100%;
		@include displayLight;
		font-size: 1rem;
		background-color: $bg-header;
		padding: 20px 0;

		> div.container {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			width: 100%;
			max-width: 1200px;
			margin: 0 auto;
		}
	}

	.tag {
		top: 0;
	}

	nav ul li {
		display: inline-block;
		margin: 0 15px;

		&:last-child {
			margin-right: 0;
		}

		&:hover {
			a {
				border-top: 3px solid $nav-link-border;
				padding-top: 17px;
			}
		}

		a {
			color: $nav-link-color;
			text-decoration: none;
			// transition: all 0.2s ease;
		}
	}

	.logo {
		a {
			text-decoration: none;
		}
	}
}

footer {
	display: flex;
	flex-direction: column;
	width: 100%;
	@include displayLight;
	font-size: 1rem;
	background-color: $bg-footer;
	padding: 20px 0;

	a {
		color: $black;
		text-decoration: none;

		&:hover {
			border-bottom: 1px solid $dkgray;
			padding-bottom: 3px;
		}
	}

	.email-link {
		text-align: center;
		padding: 20px 0;
	}

	ul {
		display: flex;
		justify-content: center;

		li {
			display: flex;
			list-style: none;
			margin: 0 10px;
		}
	}
}

@media screen and (min-width: $tablet) {
	footer {
		flex-direction: row;
		font-size: .875rem;

		a {
			color: $dkgray;
		}

		& > div {
			flex: 1;

			&.email-link {
				text-align: unset;
				padding: unset;
			}
		}

		ul {
			justify-content: flex-end;

			li {
				list-style: none;
				margin: 0 10px;

				&:last-child {
					margin-right: 0;
				}
			}
		}
	}
}
